@model IEnumerable<RealEstate.Models.Property>
@using RealEstate.Models.Resources
@{
    ViewData["Title"] = Html.Raw(String.Format(HomeResource.CompanyName));
}

    <h1>@Html.Raw(String.Format(PropertiesResource.List))</h1>

<p>
    <a asp-action="Create">@Html.Raw(String.Format(PropertiesResource.Create))</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw(String.Format(PropertiesResource.Address))
            </th>
            <th>
                @Html.Raw(String.Format(PropertiesResource.NumberOfRooms))
            </th>
            <th>
                @Html.Raw(String.Format(PropertiesResource.Garage))
            </th>
            <th>
                @Html.Raw(String.Format(PropertiesResource.City))
            </th>
            <th>
                @Html.Raw(String.Format(PropertiesResource.FinalPrice))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerPrice) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Html.Raw(String.Format(PropertiesResource.Edit))</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Html.Raw(String.Format(PropertiesResource.Details))</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Html.Raw(String.Format(PropertiesResource.Delete))</a>
            </td>
        </tr>
}
    </tbody>
</table>


